<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Layout</title>
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <style>
        .wrapper {
            padding: 24px;
        }

        .header {
            padding: 24px;
        }

        .content {
            padding: 24px;
        }

        .footer {
            padding: 24px;
        }
    </style>
</head>
<body>

    <div class="wrapper">
        <div class="header">
            <h1>Basic Layout</h1>
        </div>
        <div class="content">
            <h2>Content</h2>
            <h2>Basic Layout</h2>
            <p>Generalmente computesto por:</p>
            <ul>
                <li>Wrapper (contenedor principal)</li>
                <ul>
                    <li>Header</li>
                    <li>Content</li>
                    <li>Footer</li>
                </ul>
            </ul>

        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>
    </div>


</body>
</html>
