body {
    /*margin: 0;*/
}

.wrapper {
    width: 980px;
    margin: auto;
    /*border: 1px solid lightblue;*/
    background-color: cornflowerblue;
}
.header, .content, .footer {
    border: 1px solid lightyellow;
    padding: 8px;
}
.header {
}

.content {
}
.block {
    /*border: 1px solid slateblue;*/
    padding: 64px 24px;
}
.block div {
    border: 1px solid pink;
    float: left;
}
.block-one {
    background-color: #F6F6F6;    
}
.block-one div {
    background-color: #F6F600;
}
.block-one div {
    width: 48%;
    height: 324px;
}
.banner {
    width: 428px;
    height: 324px;
    background-color: #E7E7E7;
}

.block-two div {
    width: 32%;
}
.block-two div img {
    width: 280px;
    height: 208px;
    background-color: lightgray;
}


.footer {
}

.cf {
    clear: both;
    display: block;
    position: relative;
}
