body {
    margin: 0;
    font-family: Calibri, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    font-weight: normal;
}

.wrapper {
}

.header {
    background-color: rgb(255, 62, 155);
}
.content {
}
.block div {
    background-color: rgb(254, 123, 187);
}

.footer {
    background-color: rgb(255, 186, 220);
}

.cf {
    clear: both;
    display: block;
    position: relative;
}

/* Desktop */
@media screen and (min-width: 900px) {
    /*body { background-color: crimson; }*/
    .wrapper {
        width: 900px;
        margin: auto;
    }
    .header { height: 320px; }
    .content {}
    .block div {
        float: left;
    }
    .block-one div {
        width: 200px;
        margin: 8px 8px 8px 0px;
        padding: 8px;
    }
    .block-one div img {
        width: 200px;
    }
    .block-two div {
        width: 420px;
        margin: 0px 8px 8px 0px;
        padding: 8px;
    }
    .block-two div img {
        width: 100%;
    }
    .footer { height: 80px; }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 900px) {
    h1 { font-size:1.8em; }
    h2 { font-size:1.6em; }
    h3 { font-size:1.4em; }
    h4 { font-size:1.2em; }
    h5 { font-size:1.0em; }

    p {
        font-size: 1.1em;
    }

    .wrapper {
        width: 100%;
    }
    .header {
        height: 80px;
        text-align: center;
    }
    .content {}
    .block div {
        float: left;
        padding: 1%;
    }
    .block div img {
        width: 100%;
    }
    .block-one div {
        width: 46%;
        margin: 8px 1% 8px 1%;
    }
    .block-two div {
        width: 98%;
        margin: 0px 18px 8px 0px;
    }
    .block-two div img {
        width: 45%;
        float: left;
        margin-right: 1em;
    }
    .footer {
        height: 80px;
        text-align: center;
    }
}

/* Smarphone */
@media screen and (max-width: 480px)  {
    h1 { font-size:2em; }
    h2 { font-size:1.8em; }
    h3 { font-size:1.6em; }
    h4 { font-size:1.4em; }
    h5 { font-size:1.2em; }

    p {
        font-size: 1.1em;
    }
    .wrapper {
        width: 100%;
    }
    .header {
        height: 80px;
        text-align: right;
    }
    .content {}
    .block div { padding: 1%; }
    .block div img {
        width: 98%;
    }
    .block-one div {
        margin: 8px 1% 8px 1%;
    }
    .block-two div {
        width: 98%;
        margin: 0px 18px 8px 0px;
    }
    .footer {
        height: 80px;
        text-align: right;
    }
}
