body {
    background-color: lightgray;
    margin: 0;
}

.wrapper {
    background-color: #CCFF00;
    width: 900px;
    margin: auto;
}
.header {
    background-color: cornflowerblue;
    margin: auto;
}

.content {
    margin: auto;
    background-color: slateblue;
}
.column {
    background-color: lightcyan;
    width: 430px;
    float: left;
    padding: 10px;
}
img {
    width: 80px;
}

.footer {
    margin: auto;
    background-color: lightcoral;
}

.cf {
    clear: both;
    display: block;
    position: relative;
}
