<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
        <script src="../js/script.js"></script>
        <title>Contacto</title>
    </head>
    <body>
        <h1>Contacto</h1>
        <a href="../index.html">Ir a Home</a>
        <a href="news.html">Ir a noticias</a>
        <a href="gallery.html">Ir a galería</a>
        <img src="https://m.media-amazon.com/images/I/51lXp486p+L._SX342_SY445_.jpg">
        <img src="file:///C:/RDK/EDC/ZR-LJ_2025-07-14-14HRS/M02DW/S01/Lab01-Basic-Structure/imgs/libro.jpg">
        <img src="../imgs/libro.jpg">
    </body>
</html>
