<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="../js/script.js"></script>
    <title>Noticias</title>
</head>
<body>
    <h1>Noticias</h1>
    <a href="http://localhost:3000/">Ir a Home</a>
    <a href="http://localhost:3000/views/contact.html">Ir a contacto</a>
    <a href="http://localhost:3000/views/gallery.html">Ir a galería</a>
    <img src="../imgs/libro.jpg">
</body>
</html>
